<module>
	<rawname>simplecf</rawname>
	<repo>standard</repo>
	<name>Simple Call Forwarding</name>
	<version>0.0.4</version>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
	<menuitems>
		<simplecf>Simple Call Forward</simplecf>
	</menuitems>
	<changelog>
		*0.0.3* First General release	
		*0.0.2* General cleanup
		*0.0.1* First release 
	</changelog>
	<description>Provides feature codes for a simplified call forwarding. Suitable for a 'one touch' set and forget style of CF where the user rarely makes changes to the CF destination </description>
	<category>Other</category>
	<depends>
		<engine>asterisk gt1.8</engine>
		<version>ge2.9</version>
    </depends>
</module>
